{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bar_graph.css') }}">

<h1>Admin Console</h1>

<br style='line-height:20px'>
<h3>{{ date.season }}, {{ date.year }} Attendance Totals (At a Glance)</h3>
{% for event in events %}
  {% set width = (event[0].attendanceTotal / attendTotal) * 100 %}
  <div class="graph event" title = "{{ event.attendanceTotal }} students attended" style='color:white; width:{{width}}%; text-align:right; padding:5px'>
    {{ event[0].attendanceTotal }}
  </div>
  <p>{{ event[0].eventName }}</p>
{% endfor %}

<br style='line-height:50px'>
<table>
<tr>
  <th>Event Name</th>
  <th>Total Attendance</th>
  <th>Date</th>
  <th>Results</th>
  <th>Edit Event Details</th>
</tr>
{% for event in events %}
  <tr>
      <td>{{ event[0].eventName }}</td>
      <td>{{ event[0].attendanceTotal }}</td>
      <td>{{ event[0].eventDate.replace('_', '/') }}</td>
      <td title='click to download results'>
        <a href="{{ url_for('downloadFile', file=event[1]) }}">
          <img src="{{ url_for('static', filename='download.png') }}" alt="dowlnload" style='width:20px;height:20px;'>
        </a>
      </td>
      <td title='click to edit event details'>
        <a href="{{ url_for('adminConsole_eventSession', event_url=event.id) }}">edit</a>
      </td>
  </tr>
{% endfor %}
</table>

<br style='line-height:5px'>
<a href='http://www.google.com'><h6>Click here to download master spreadsheet for this semester</h6></a>

{% endblock content %}
