{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">

<h1>Event Session: {{ event.eventName }}</h1>
<br style='line-height:20px'>
<h3>Total Attendance: {{ event.attendanceTotal }}</h3>

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Event Setup</legend>
      <div class="form-group">
        {{ form.id.label(class="form-control-label") }}

        {% if form.id.errors %}
          {{ form.id(type=reset, autofocus=true, class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.id.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.id(type=reset, autofocus=true, class="form-control form-control-lg") }}
        {% endif %}
      </div>
  </form>
</div>

{% if attendance|length > 0 %}
  <br style='line-height:50px'>
  <table>
  <tr>
    <th>Student ID</th>
    <th>Checkout</th>
  </tr>
  {% for student in attendance %}
    <tr>
        <td>{{ student.studentID }}</td>
        <td title='click to check student out of this event'>
          <a href="{{ url_for('eventCheckout', event_url=event.id, student_id=student.studentID) }}">
            <img src="{{ url_for('static', filename='door.png') }}" alt="checkout" style='width:20px;height:20px;'>
          </a>
        </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}

{% endblock content %}
