{% extends "layout.html" %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_student.css') }}">
  <h1> Welcome {{ student.firstName }}! Here is your {{ date.season }}, {{date.year}} attendance history.</h1>
  <p></p>
  <table>
  <tr>
    <th>Event Name</th>
    <th>Date</th>
  </tr>
  {% for entry in attendance %}
    <tr>
      {% for event in events %}
        {% if event.id == entry.eventID %}
          <td>{{ event.eventName }}</td>
          <td>{{ entry.date }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
  <p></p>
  <p class="text-center">You have been to {{ attendance|length }} events. Attend 5 more events to start earning points.</p>
{% endblock content %}
