{% extends "layout.html" %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
  <h1> Welcome {{ student.firstName }}! </h1>
  <h2>Here is your {{ date.season }}, {{date.year}} attendance history.</h2>
  <br style='line-height:20px'>
  <table>
  <tr>
    <th>Event Name</th>
    <th>Date</th>
  </tr>
  {% for entry in attendance %}
    <tr>
      {% for event in events %}
        {% if event.id == entry.eventID %}
          <td>{{ event.eventName }}</td>
          <td>{{ entry.date.replace('_', '/') }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
  <br style='line-height:20px'>

  {% if pointsQualified[0] == None %}
    <p class="text-center">You have been to {{ attendance|length }} events. Please hang tight while we decide the point requirements for this semester.</p>
  {% elif pointsQualified[0] == 0 %}
    {% if pointsQualified[1] == 1 %}
      <p class="text-center">You have been to {{ attendance|length }} events, earning you {{ pointsQualified[1] }} point.</p>
    {% elif pointsQualified[1] == 2 %}
      <p class="text-center">You have been to {{ attendance|length }} events, earning {{ pointsQualified[1] }} points.</p>
    {% endif %}

  {% else %}
    {% if pointsQualified[0] == 1 %}
      <p class="text-center">You have been to {{ attendance|length }} events. Attend {{ pointsQualified[0] }} more event to start earning points.</p>
    {% else %}
      <p class="text-center">You have been to {{ attendance|length }} events. Attend {{ pointsQualified[0] }} more events to start earning points.</p>
    {% endif %}
  {% endif %}

{% endblock content %}
